.frontend {
    header {
        background: #ffffff;
        padding: 0 0 1em 0;
        width: 100%;
        box-shadow: 0 0 20px 0 #ffffff;
    }
    .question {
        table.hover {
            td:hover {
            }
        }
    }
}
