/* backend */
header.flash {position:absolute;z-index: 1;top:0;box-shadow:2px 2px 3px;overflow:hidden;margin:0 70px 0 70px;}
header.flash li {margin:0;}
div.survey-status {}
div.survey-status p {margin-bottom:0;}
div.survey-status img {padding-left:0.8em;vertical-align:middle;}
div.survey-status span, div.survey-status a {font-size:120%;font-weight:bold;}
div.survey-status a {text-decoration:none;color:#000000;}
div.survey-status a:hover {text-decoration:underline;}
div.survey-status ul.status-changer {margin:5px 0 0 0;padding:0;border:1px solid #d5d5d5;background-color:#ffffff;width:100%;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow: 1px 1px 1px;}
div.survey-status ul.status-changer li {list-style-type:none;padding:0;margin:0;}
div.survey-status ul.status-changer li a {display:block;padding: 5px 8px;}
nav ul {padding:0;margin:0;}
nav ul li {list-style-type:none;display:inline-block;}
nav ul li.spacer {width:50px;}
nav ul li a {text-decoration:none;display:inline-block;padding:0.3em 0.8em;}
nav.level-1 ul {padding:0.5em 1em 0 2em;border-bottom:2px solid #0066cc;}
nav.level-1 ul li {margin:0 1em 0 0;}
nav.level-1 ul li a {font-size:1.5em;font-weight:bold;background-color:#c3d9ff;border-left:2px solid #0066cc;border-top:2px solid #0066cc;border-right:2px solid #0066cc;}
nav.level-1 ul li a.no-tab {border:0;background-color:#ffffff;}
nav.level-1 ul li.current a, nav.level-1 ul li a:hover {color:#ffffff;background-color:#0066cc;}
nav.level-1 ul li a.no-tab:hover {color:#0066cc;background-color:#ffffff;text-decoration:underline;}
nav.toolbar {background-color:#f0f0f0;padding: 0 1em 0 1em;}
nav.breadcrumbs ol {margin:0.5em 1em 0.5em 0;padding:0;}
nav.breadcrumbs ol li {display:inline-block;list-style-type:none;margin:0 0.5em 0 0;padding:0;}
nav.breadcrumbs ol li:before {display:inline-block;content: '\00bb';margin:0 0.5em 0 0;}
nav.breadcrumbs ol li.current a {font-weight:bold;}
article {margin-top:1em;}
ul.buttons {margin:0;padding:0;text-align:right;}
ul.buttons li {list-style-type:none;display:inline-block;}
nav.pager {text-align:center;}
nav.pager ol {margin:1em 0;padding:0;}
nav.pager ol li {list-style-type:none;display:inline-block;margin:0 0.4em;}
nav.pager ol li a {text-decoration:none;}
nav.pager ol li a:hover {text-decoration:underline;}
nav.pager ol li.current a {font-weight: bold;}
footer {font-size:0.8em;text-align:center;padding-top:0.5em;margin-top:2em;border-top:1px dashed #0066cc;}
#tools ol {padding:0;overflow:visible;}
#tools li {list-style-type:none;padding:5px 8px;background-color:#f0f0f0;}
#tools li:hover {background-color:#dff4ff;}
.item .header .button {margin:0;padding:2px;}
#qsheet-content, #survey-pages {margin:0;padding:0;}
#qsheet-content li, #survey-pages li {list-style-type:none;}
.placeholder {border:1px dashed #0066cc;padding:10px;}
#qsheet-content li.item, #survey-pages li.item {background-color:#ffffff;border:1px solid #d5d5d5;margin-bottom:10px;}
#qsheet-content li.item .header, #survey-pages li.item .header {background-color:#c3d9ff;font-size:10pt;font-weight:bold;padding:5px 8px;}
#qsheet-content li.item .content, #survey-pages li.item .content {padding:5px 8px;}
.overlay {background-color:#000000;opacity:0.8;z-index:10;position:fixed;left:0px;top:0px;}
.editor {background-color:#ffffff;z-index:11;width:800px;position:fixed;}