/* frontend */
section.question table {width:auto;}
section.question thead th {text-align:center;}
section.question tbody th {font-style:italic;font-weight:normal;}
section.question td {min-width:45px;min-height:45px;text-align:center;}
section.question ul, section.question ol {margin-left:0;padding-left:0;}
section.question li {list-style-type:none;padding:1em 1.5em;}
section.question label {padding-left:1em;}
section.question ul li:nth-child(even), section.question ul li.even {background:#e5ecf9;}