.editable {
    .editable-container {
        a[data-action=reorder] {
            cursor: move;
        }
        .show-edit {
            display: none;
        }
        &.editing {
            .show-edit {
                display: block;
            }
            .hide-edit {
                display: none;
            }
        }
    }
}
