
.question {
    margin-bottom: $global-margin * 2;
    
    h2 {
        font-size: rem-calc(20);
        margin-bottom: $global-margin;
        color: $primary-color;
    }

    label {
        font-size: 100%;
    }

    td > label > input {
        margin: 0;
    }

    th {
        font-weight: normal;
    }

    ul, ol {
        margin-bottom: 0;
    }

    .question_label {
        color: darken($dark-gray, 20);
        font-weight: bold;
        margin-bottom: $form-spacing * 0.5;
    }

    &.qt-ranking {
        li:first-child {
            a.up {
                display: none;
            }
            a.down {
                margin-left: rem-calc(30);
            }
        }
        li:last-child a.down {
            display: none;
        }
    }

    &.error {
        h2:after {
            font-family: 'Material Icons';
            color: $form-label-color-invalid;
            content: 'error';
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            line-height: 1;
            margin-left: rem-calc(6);
        }
        label {
            color: $form-label-color-invalid;
        }
        tr.error {
            border: 1px solid $input-error-color;
        }
        #{text-inputs()}, textarea, select {
            border-color: $input-error-color;
            color: $input-error-color;

            &:focus {
                border: $input-border-focus;
                color: $input-color;
            }
        }
        .error-message {
            font-size: $input-error-font-size;
            font-weight: $input-error-font-weight;
            color: $form-label-color-invalid;
        }
    }
}
.input-types-touch .question.qt-ranking .touch-only {
    width: rem-calc(72);
    display: inline-block;
}
