/* Foundation settings */
$foundation-palette: (
  primary: #006bb1,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #d54129,
);
$topbar-padding: 0 0.5rem;
$topbar-background: lighten(#000, 20%);
$header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 36,
    'h2': 31,
    'h3': 25,
    'h4': 21,
    'h5': 18,
    'h6': 16,
  ),
);