/* General styles */
.role-status {border-bottom:1px solid #aaaaaa; padding:0.3em 0.5em;margin-bottom:1em;}

/* Error styles */
.error-qsheet-marker {padding:0.8em;margin-bottom:1em;}
.error-border, .question.error-border {border:2px solid #aa0000;}
.error-background, .question.error-background, .question table tbody tr.error-background td {background:#fbe3e4;}
.error-text {color:#8a1f11;}
.error-explanation {color: #aa0000;margin-bottom:0;}

/* QSheet styles */
.qsheet h1 {font-size:18pt;color:#222222;}

/* Question styles */
.question {margin-bottom:1.5em;background-color:#efefef;border:1px solid #aaaaaa;padding:0.5em 0.8em;}
.question.text {background-color:#ffffff;border:0;margin-bottom:0;}
.question.ranking ul {margin-left:0;padding-left:0;}
.question.ranking li {list-style-type:none;}
.question h1 {font-size:13pt;color:#222222;margin:0 0 1em 0;}
.question table {width:100%;}
.question table thead th {padding:0.3em 0.5em;background-color:#bfbfbf;color:#222222;}
.question table tbody tr th {padding:0.3em 0.5em;background-color:#f0f0f0;color:#222222;}
.question table tbody tr th.before, .question table tbody tr th.after {font-weight:normal;}
.question table tbody td {padding:0.3em 0.5em;background-color:#f0f0f0;color:#222222;}
.question table tbody tr td.answer {text-align:center;}
.question li {padding:0.3em 0.5em;}
.question table tbody td:hover, .question li:hover {background-color:#ffffff;}

/* Button styles */
.qsheet .role-survey-form .buttons {margin-top:2em;}
.qsheet .role-survey-form .buttons li {margin-left:0.5em;}
.qsheet .role-survey-form .buttons input[type=submit], .role-survey-form .buttons input[type=reset] {padding:0.3em 0.5em;}

/* Testing-box styles */
.role-testing {position:fixed;top:0px;left:0px;max-width:150px;padding:3px 5px;border-right:2px solid #aa0000;border-bottom:2px solid #aa0000;}
.role-testing a {padding-left:3px;color:#222222;}
.role-testing a, .role-testing p {display:none;}
.role-testing:hover a, .role-testing:hover p {display:block;}